body {
    margin: 0;
    background: url('/home_background.png');
    background-size: auto;
    background-position: 100% 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 2.5%;
}

.nav-bar-item {
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    color: white;
}

.underline {
    height: 5px;
    width: 50px;
    background-color: white;
    display: inline-block;
    opacity: 0;
    border-radius: 10px;
    transition: margin-left 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}